@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  /* background: ; */
  font-family: Arial, Helvetica, sans-serif;
}


/* globals.css */
.container {
  @apply mx-auto w-full max-w-7xl px-4 md:px-6;
}

